@font-face{
    font-family: "Trajan";
    src: url("/assets/fonts/Trajan\ Pro\ Regular.ttf") 
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html, body{
    box-sizing: inherit;
    font-size: 16px;
    font-family:  'Noto Sans', sans-serif;
    line-height: 1.5;
    color: #000;
}

header{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #000000, #040404, #070707, #0b0b0b, #0e0e0e, #0e0e0e, #0e0e0e, #0e0e0e, #0b0b0b, #070707, #040404, #000000);
    align-items: center;
    padding: 0 5em;
    font-size: 1.1em;
    gap: .5em;
    color: #fff;
}
nav{
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #041C32;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    font-weight:500;
    padding: 0 1.5em;
    align-items: center;
}
nav div a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
nav div img{
    width:25px;
    margin-right: 2px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    padding: 1em;   
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}

nav  a{
    padding: .5em 1em;
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: .95em;
    background-color: #041C32;
    color: #fff;
}

.header-info{
    text-align: justify;
    padding: 1em;
}

.header-image{
    width: 95%;
}

.section-style{
    padding: 1em;
    min-height: 100vh;
    text-align: center;

}
.section-gifts img{
    width: 40%;
}
.section-title{
    line-height: 2;
    display: flex;
    align-items: center;
}
.section-style:nth-child(even){
    background-color: #ffffff;
}
.section-style:nth-child(odd){
    background-color: #fff;
}
.section-title::after, 
.section-title::before{
    content: "";
    flex: auto;
    height: .1em;
    background-color: rgb(0, 0, 0);
}
.section-title::after{ margin-left: .3em;}
.section-title::before{ margin-right: .3em}
.section-paragraph{
    padding: 1em;
    margin: auto .5em;
    text-align: justify;
    line-height: 1.5em;
}
.section-images, .section-gifts{
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.section-gifts{
    align-items: top;
}
.section-images{
    align-items: baseline;
}
.section-images-card{
    padding: 1em;
    width: 25%;
}
.section-images-card img{
    padding: 1em;
    border: 3px solid #000;
    border-radius: 10px;
    transition: all ease-in-out .75s;
}
.section-images-card img:hover{
    transform: rotateY(180deg)
}
.card-text{
    text-align: justify;
    font-size: .9em;
}
#home,#about,#characters{
    scroll-margin-top: 4em;
}
#quote{
    scroll-margin-top: -2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.75em;   
    width: 70%;
    margin: auto;
}
#quote p{
    text-align: justify;
}
#quote-autor{   
    font-size: .9em;
    font-weight: bold;
    font-style: italic;
}

@media only screen and (max-width:768px ) {
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        padding: 0;   
    }
    .section-images{
        width: 100%;
    }
    #quote{
        scroll-margin-top: 5em;
        font-size: .9em;
    }
    #about,#characters{
        scroll-margin-top: 13em;
    }
    #home{
        padding-top: 13em;
        padding-bottom: 2em;
    }
}

@media only screen and (max-width:975px ) {
    header{
        min-height: 100vh;
        background-image: linear-gradient(to bottom, #000000, #040404, #070707, #0b0b0b, #0e0e0e, #0e0e0e, #0e0e0e, #0e0e0e, #0b0b0b, #070707, #040404, #000000);
        padding: 0 5em;
        padding-top: 3em;
        font-size: 1.1em;
        gap: .5em;
        color: #fff;
        flex-direction: column;
    }
    .header-image{
        width: 60%;
    }
    .section-images{
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
    .section-images-card{
        width: 100%;
    }
}

@media only screen and (min-width:976px ) {
    header{padding-top: 4em;}
    .header-image{
        width: 50%;
    }
}